.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.Cardwhite{
  border-radius:5px;
   
  margin-left:25%;
  background-color:#fff; 
  padding-top:10px;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 1px;
}
table th:first-child {
  border-radius: 5px 0 0 5px;
}
table th:last-child {
  border-radius: 0 5px 5px 0;
}
th {
  padding: 10px 10px;
  background: #E4E4E4;
  /* Grey */

  text-align: center;
  font-size: 11px;
}
tbody:before {
  content: "-";
  display: block;
  line-height: 1em;
  color: transparent;
}
td {
  border: solid 1px #E4E4E4;
  border-style: solid none;
  padding: 10px;
  background-color: white;
  text-align: center;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.App-header {
  background-color: lightblue;
  height: 10%;
  margin-top:0;
  padding-bottom:10px;
  color: white;
}
.newbutton1{
  float: left;
  color:black;
}
.newbutton{
  float: right;
  color:black;
  height:30px;
  width:50px;
  border-radius:5px;
  background-color: #fff;
}
.questiontable{
 margin-top:5px;
}
.App-title {
  margin-top:0;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.card{
  border-radius:5px;
  border:2px solid #e4e4e4;
  width:60%;
  margin-left:20%;
  background-color:#f1f1f1; 
  padding:10px;
}
.form-group{
  padding:5px;
  display:grid;
  grid-column: auto;
  font-size:20px;
}
.body-padding{
  padding:10px;
}
.title{
  
}
.linktext{
  font-size:10px;
  align: left;
}
.inputs{
  border:1px solid #f1f1f1;
  border-radius: 5px;
}
.submit-group{
  color:#ffffff;

}
.button{
  background-color: lightblue;
  color:#ffffff;
  border-radius:5px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
